@use './theme';
@import '~mixins/breakpoints';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope;
}

html {
  background-color: var(--background);
  color: white;
  fill: white;

  scrollbar-width: thin;
  scrollbar-color: white var(--background);
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
  background: white;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  // transition: color 0.075s, border-color 0.075s;
  // border-bottom: 2px solid transparent;

  &:hover {
    color: var(--accent);
    // border-color: var(--accent);
    text-decoration: underline;
    // outline: none;
  }
}

button, .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: rgb(50, 42, 48);
  font-weight: bold;
  color: white;
  cursor: pointer;
  letter-spacing: 0;
  transition: background-color 0.075s, color 0.075s;

  &[disabled] {
    opacity: 0.7;
    pointer-events: none;
  }

  svg {
    fill: white;
    transition: fill 0.075s;
    height: 20px;
    width: auto;
    margin-right: 10px;
  }

  &:focus, &:hover {
    background-color: white;
    color: var(--background);
    text-decoration: none;

    svg {
      fill: var(--background);
    }
  }

  @include sm {
    font-size: 14px;
  }
}