@use './theme';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope;
}

html {
  background-color: var(--background);
  color: var(--text);
  fill: var(--text);
}

a {
  color: var(--text);
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}