@use './theme';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope;
}

html {
  background-color: var(--background);
  color: var(--text);
  fill: var(--text);

  scrollbar-width: thin;
  scrollbar-color: white var(--background);
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
  background: white;
}

a {
  color: var(--text);
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}